extends import/_base

block vars
  - var title = 'Redux Counter Examples: Angular'

block body
  .container(ng-app="app")
    .row
      .col-xs-8
        input.form-control.input-lg(counter ng-value='count')
      .col-xs-4
        counter-buttons.btn-group
          button.btn.btn-default.btn-lg(ng-click='increment($event)') +
          button.btn.btn-default.btn-lg(ng-click='decrement($event)') -

  script(src='angular.js')
