extends import/_base

block vars
  - var title = 'Redux Counter Examples: React'

block body
  #app.container

  .container
    .row
      .col-xs-12
        h3 Source code
        <script src="https://gist-it.appspot.com/github/ahmednuaman/redux-counter/blob/master/src/js/react/app.jsx"></script>
        
  script(src='react.js')
